section{
    position: relative;
}

.green-section{
    width: 200px;
    height: 1000px;
    background-color: rgb(121, 133, 67);
    border: 5px solid rgb(76, 83, 42);
    position: absolute;
}

.red-section{
    width: 600px;
    height: 200px;
    background-color: rgb(165, 80, 80);
    border: 5px solid rgb(90, 50, 50);
    top: 100px;
    left: 100px;
    position:fixed;
}